#portada {
  -webkit-animation: scale-up-center 0.9s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

html {
  scroll-behavior: smooth;
}

.button-comp,
.button-cart,
.btn-more,
.button {
  transition: all 0.2s ease;
}

.button:hover {
  background: var(--bk-btn-second);
}

.button-comp:hover {
  background: var(--bk-btn-second);
}

.button-cart:hover {
  background: var(--bk-btn);
}

.btn-more:hover {
  background: var(--bk-btn-second);
}

.estilos-img img {
  transition: transform 0.3s;
}

.estilos-img img:hover {
  transform: scale(1.3);
}

.card img {
  transition: transform 0.3s;
}

.card img:hover {
  transform: scale(1.8);
}
